
# Where are the sites located
sitesDir = "sites"

# Where are static files served from
staticDir = "static"

# Where are templates served from?
templatesDir = "templates"

[sites]
    all = ["mysite", "test"]

    # So, this site is in ./sites/test/
    [sites.test]
        dir = "test"
        public = true
        enabled = true

    # So this site is in ./sites/mysite/
    [sites.mysite]
        dir = "mysite"
        public = true
        enabled = false
