# This is the configuration file for Shim.
# It should be located in the same folder as your Shim executable (for now).

# Assets #######################################################################
# The following are relative to the directory which shim is started in. 
#
# sitesDir         where sites should be stored
# staticDir        where static assets should be stored
# templatesDir     where shim's templates should be stored
#
sitesDir = "sites"
staticDir = "static"
templatesDir = "templates"

# Miscellaneous ################################################################
# Other things that shim needs to know to work properly.
#
# baseurl          the base URL a user should use to access shim.
#                  Note: This is different than a hugo site's baseurl.
#                  Note: This port will override the PORT environment variable
#                  and use this port for hyperlinks. This is useful for, say,
#                  running gin or fresh while hosting shim or working on shim
#                  (as in developing).
baseurl = "http://127.0.0.1:8080/"


[sites]
    # This site is in ./sites/test/
    [sites.test]
        # Folder for this site.
        dir = "test"
        # Is this site enabled?
        enabled = true

    # This site is in ./sites/mysite/
    [sites.mysite]
        dir = "mysite"
        enabled = true

    # Add your own using the following format:
    # For example: to add a site called "coolblog"
    #[sites.coolblog]
    #    dir = "coolblog"
    #    enabled = true
