
.icon-edit:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-tag:before { content: '\e803'; } /* '' */
.icon-cw:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-group:before { content: '\e807'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-folder:before { content: '\e809'; } /* '' */
.icon-website:before { content: '\e80a'; } /* '' */
.icon-lock:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-help-circled:before { content: '\e80d'; } /* '' */
.icon-info-circled:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-megaphone:before { content: '\e810'; } /* '' */
.icon-warning:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-ok:before { content: '\e813'; } /* '' */
.icon-tags:before { content: '\e814'; } /* '' */
.icon-block:before { content: '\e815'; } /* '' */
.icon-exclamation:before { content: '\e816'; } /* '' */
.icon-list:before { content: '\e817'; } /* '' */
.icon-export:before { content: '\e818'; } /* '' */
.icon-globe-alt:before { content: '\e819'; } /* '' */
.icon-doc-new:before { content: '\e81a'; } /* '' */
.icon-gauge:before { content: '\e81b'; } /* '' */
.icon-right:before { content: '\e81c'; } /* '' */
.icon-left:before { content: '\e81d'; } /* '' */
.icon-clipboard:before { content: '\e81e'; } /* '' */
.icon-right-hand:before { content: '\e81f'; } /* '' */
.icon-shuffle:before { content: '\e820'; } /* '' */