{{define "siteConfigAdvanced"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{- if .Success -}}
            <meta http-equiv="refresh" content="0">
        {{- end -}}
        <meta charset="utf-8">
        <title>SHIM | Site Configuration</title>
        {{template "stylesheets"}}
    </head>
    <body>
        <div>
            <h1>Advanced Site Configuration</h1>
            <p>NOTE: RESTART SHIM AFTER CHANGING THESE VALUES, AS THE SITE IS NOT RELOADED AFTER A CONFIG CHANGE (YET!)</p>
            <p>Click <a href="/config/">here</a> for basic settings.</p>
            <div>
                <form action="/config/advanced/" method="post">
                    <textarea id="src" name="configSrc" class="expandVert" rows="20">
                        {{- printf "%s" .Text | html -}}
                    </textarea>
                    <div><input type="submit" value="Save" /></div>
                </form>
            </div>
        </div>
        {{template "footer"}}
    </body>
</html>
{{end}}
