{{define "footer"}}
<footer id="footer">
	<div class="content">
		<a href="https://gitlab.com/camconn/shim">SHIM</a>, made with love by three idiots.<br /><a href="https://www.gnu.org/licenses/agpl-3.0.html">Licensed Under the GNU Affero Public License, Version 3</a>
    </div>
</footer>
{{end}}
