<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SHIM | Login</title>
    </head>
    <body>
        <h1>Authentication required</h1>
        <p>Please login using the form below.</p>
        <form action="/login" method="post">
            <p>Username: <input type="text" name="username"><br />Password: <input type="password" name="password"></p>
            <input type="submit" value="login">
        </form>
    </body>
</html>
