{{- define "messages" -}}
    {{/* Simple subtemplate to handle messages */}}
	{{- if eq .Action "warn" -}}
		<div class="notification is-warning">
			<p>{{- .Message -}}</p>
		</div>
	{{- else if .Failed -}}
		<div class="notification is-danger">
			<p>{{- .Message -}}</p>
		</div>
	{{- else if .Success -}}
		<div class="notification is-success">
			<p>{{- .Message -}}</p>
		</div>
	{{- end -}}
{{- end -}}
