{{define "navbar"}}
<div id="navbar">
	<nav class="navbar">
		<div class="navbar-item is-text-centered">
			<p class="title">SHIM</p>
		</div>
		<p class="navbar-item is-text-centered">
			<a class="link is-info" href="{{ $.Base }}/admin/">Administration</a>
		</p>
		<p class="navbar-item is-text-centered">
			<a class="link is-info" href="{{ $.Base }}/config/">Site Configuration</a>
		</p>
		<p class="navbar-item is-text-centered">
			<a class="link is-info" href="{{ $.Base }}/staticfiles/">Files</a>
		</p>
		<p class="navbar-item is-text-centered">
			<a class="link is-info" href="{{ $.Base }}/posts/">Posts</a>
		</p>
		<p class="navbar-item is-text-centered">
			<a class="link is-info" href="{{ $.Base }}/new/">New Post</a>
		</p>
		<p class="navbar-item is-text-centered">
			<a class="link is-info" href="{{ $.Base }}/user/">Settings</a>
		</p>
	</nav>
</div>
{{end}}
