{{define "navbar"}}
<div id="navbar">
	<nav class="navbar">
		<div class="navbar-item is-text-centered">
			<p class="title">SHIM</p>
		</div>
		<p class="navbar-item is-text-centered">
			<a class="link is-info" href="/admin">Admin panel</a>
		</p>
		<p class="navbar-item is-text-centered">
			<a class="link is-info" href="/posts">My posts</a>
		</p>
		<p class="navbar-item is-text-centered">
			<a class="link is-info" href="/config">Configuration</a>
		</p>
		<p class="navbar-item is-text-centered">
			<a class="link is-info" href="/new">Write a new post</a>
		</p>
	</nav>
</div>
{{end}}