{{define "deletePage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SHIM | Delete Post</title>
		{{ template "stylesheets" $ }}
	</head>
	<body>
		{{ template "navbar" $ }}
		<div id="content" class="content">
			<h1>Delete Post: <i>"{{- .Post.Title -}}"</i></h1>
			{{- template "messages" $ -}}
			<div>
				<p>Post path: <code>{{ .Post.RelPath }}</code></p>
				<p>Author: <code>{{ .Post.Author }}</code></p>
			</div>
			<hr>
			<p>Are you <i>really</i> want to delete this post?</p>
			<div class="columns control">
				<div class="column is-half">
					<a href="{{ .Base }}/posts/" class="button is-primary">No! I didn't mean it!</a>
				</div>
				<div class="column is-half is-text-right">
					<a href="{{ .Base }}{{- .URL -}}?confirm=yes" class="button is-danger">Yes! Get rid of it!</a>
				</div>
			</div>
		</div>

		{{template "footer"}}
	</body>
</html>
{{end}}
