{{define "newPostPage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "meta" }}
		<title>SHIM | New Post</title>
		{{ template "stylesheets" $ }}
	</head>
	<body>
		{{ template "navbar" $ }}

		<div id="content" class="content">
			<h1>Create New Post</h1>
			{{- template "messages" $ -}}
			<form action="{{ $.Base }}/new/" method="post">
				<div class="box columns is-multiline">
					<div class="column is-4">
						<p><code><b>slug</b></code>: the last part of the URL for the this page</p>
					</div>
					<div class="column is-8">
						<input class="input" type="text" name="title" placeholder="my-new-page" autofocus>
					</div>
					<div class="column">
						<p>If you use a slug like <code>my-new-page</code>, your page will be accessible via <i>mysite.com/post/<mark>my-new-page</mark></i></p>
					</div>
				</div>
				<div class="box columns is-multiline">
					<div class="column is-4">
						<p><code><b>archetype</b></code>: what kind of page this is (for help, see: <a href="https://gohugo.io/content/archetypes/">Archetype</a>)</p>
					</div>
					<div class="column is-8">
						<p class="control">
							<label class="radio">
								<input type="radio" name="pageType" value="post" checked>
								Post (Default)
							</label>
							<br>
							<label class="radio">
								<input type="radio" name="pageType" value="">
								Let me decide
							</label>
							<!-- TODO: Custom pages -->
						</p>
					</div>
					<div class="column">
						<p>
							If you are making root-level pages, (e.g. and <i>About Me</i> page at <code>/about</code>),
							then use the <i>Let me decide</i> option.
						</p>
					</div>
				</div>
				<input class="button is-primary input" type="submit" value="Create">
			</form>
		</div>

		{{template "footer"}}
	</body>
</html>
{{end}}
