{{define "postsPage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SHIM | View Posts</title>
		{{template "stylesheets"}}
	</head>
	<body>
		{{template "navbar"}}

		<div id="content" class="content">
			<h1>Site Posts</h1>
			<hr>
			{{- if eq (len .Site.Posts) 0 -}}
			<p>It looks like you do not have any posts! Would you like to <a href="/new/">write some</a>?</p>
			{{- else -}}
			{{- range $post := .Site.Posts -}}
			<div class="box">
				<nav class="navbar" style="margin-bottom: 0em;">
					<div class="navbar-left">
						<div class="navbar-item">
							<h3>{{- $post.Title | html -}}</h3>
						</div>
					</div>
					<div class="navbar-right">
						{{- if $post.Draft -}}
						<div class="navbar-item">
							<h4><span class="tag is-warning">Draft</span></h4>
						</div>
						{{- else -}}
						<div class="navbar-item">
							<h4><span class="tag is-success">Published</span></h4>
						</div>
						{{- end -}}
						<div class="navbar-item">
							<h4><a class="tag is-primary" href="/edit/{{ $post.PostID }}">Edit</a></h4>
						</div>
						<div class="navbar-item">
							<h4><a class="tag is-danger" href="/delete/{{ $post.PostID }}">Delete</a></h4>
						</div>
					</div>
				</nav>
				<p class="subtitle">
					{{- if $post.Draft -}}
						Written by <b>{{ $post.Author | html }}</b> &mdash; {{ $post.WebDate | html }}
					{{- else -}}
						Published by <b>{{ $post.Author | html }}</b> &mdash; {{ $post.WebDate | html }}
					{{- end -}}
				</p>
				<blockquote>{{- $post.Description | html -}}</blockquote>
			</div>
			{{- end -}}
			{{- end -}}
		</div>

		{{template "footer"}}
	</body>
</html>
{{end}}
