{{define "editPage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "meta" }}
		<title>SHIM | Editor</title>
		{{ template "stylesheets" $ }}
		<script src="{{ $.Base }}/static/awesomplete.min.js"></script>
	</head>
	<body>
		{{ template "navbar" $ }}

		<div id="content" class="content">
			{{- $Post := .Post -}}
			<div class="is-clearfix">
				<h1 class="is-pulled-left">Edit Post</h1>
				<a class="tag is-danger is-medium is-pulled-right" href="{{ $.Base }}/delete/{{ $Post.PostID }}">
					<i class="icon is-small icon-trash is-small"></i>Delete</a>
			</div>

			{{- template "messages" $ -}}
			<form action="{{ $.Base | html }}{{ $.URL | html -}}" method="post" class="container">
				{{ template "csrf" $ }}
				<input class="input is-large" type="text" name="title" value="{{- $Post.Title | html -}}" placeholder="How I Proved the Riemann Hypothesis">
				<br>
				<textarea class="textarea monospace editor" name="articleSrc" id="articleSrc" placeholder="So it's official! I finally solved the age-old problem..." autofocus="true">{{- printf "%s" $Post.GetBody | html -}}</textarea>
				<noscript><br></noscript> <!-- Give some space for JS-disabled users -->
				<div class="columns">
					<div class="column is-4">
						{{- if $Post.Draft -}}
						<input type="checkbox" class="input toggle-button-common toggle-button-text" name="doPublish" id="publishToggle">
						{{- else -}}
						<input type="checkbox" class="input toggle-button-common toggle-button-text" name="doPublish" id="publishToggle" checked>
						{{- end -}}
						<label for="publishToggle" data-on="Publish" data-off="Draft" title="Click to toggle"></label>
					</div>
					<div class="column is-4">
						<a class="input button is-info is-outlined" href="{{ $.Base }}/preview/{{- $Post.PreviewPath -}}">Preview</a>
					</div>
					<div class="column is-4">
						<input class="input button is-primary" type="submit" value="Save">
					</div>
				</div>

				<noscript>
					<div>
						<style type="text/css">
						/* Workaround for whenever the client doesn't have JS enabled */
						#collapse {
							display: inline !important;
						}
						#toggleButtonDiv {
							display: none !important;
						}
						</style>
					</div>
				</noscript>
				<script type="text/javascript">
				function toggleCollapse() {
					var coll = document.getElementById("collapse");
					if (coll === null) { return; }
					dis = coll.style.display;
					if (dis === "inline") {
						coll.style.display = "none";
						console.log("now hidden")
					} else {
						coll.style.display = "inline";
						console.log("now visible")
					}
				}
				</script>
				<div id="toggleButtonDiv">
					<p><a onclick="toggleCollapse()"><span class="toggle-div">+</span>Click to show post properties.</a></p>
					<br>
				</div>
				<div id="collapse">
					<div class="columns">
							<div class="column is-third">
								<p><code>author</code>: the author for this post</p>
							</div>
						<div class="column">
							<p class="control has-icon">
								<input class="input" type="text" name="author" value="{{- $Post.Author -}}" placeholder="Bernhard Riemann">
								<i class="fa icon icon-user"></i>
							</p>
						</div>
					</div>

					<div class="columns">
							<div class="column is-third">
								<p><code>description</code>: a short summary of the post &mdash; if none is provided, it will automatically be generated</p>
							</div>
						<div class="column">
							<p class="control has-icon">
								<input class="input" type="text" name="description" value="{{- $Post.ManualDesc -}}" placeholder="My proof of the Riemann Hypothesis">
								<i class="fa icon icon-clipboard"></i>
							</p>
						</div>
					</div>

					<div class="columns">
							<div class="column is-third">
								<p><code>slug</code>: the token to appear in the tail of the url &mdash; if none is provided, the filename will be used</p>
							</div>
						<div class="column">
							<p class="control has-icon">
								<input class="input" type="text" name="slug" value="{{- $Post.Slug -}}" placeholder="riemann-hypothesis">
								<i class="fa icon icon-right-hand"></i>
							</p>
						</div>
					</div>

					<div class="columns">
						<div class="column is-third">
							<p><code>published</code>: the date and time when this post was published &mdash; if this field is left blank, it will be automatically filled upon publishing this post</p>
						</div>
						<div class="column">
							<p class="control has-icon">
							{{- if $Post.HasDate -}}
								<input class="input" type="text" name="published" value="{{ $Post.WebDate }}" placeholder="{{ $Post.WebDate }}">
							{{- else -}}
								<input class="input" type="text" name="published" value="" placeholder="{{ $Post.WebDate }}">
							{{- end -}}
								<i class="fa icon icon-calendar"></i>
							</p>
						</div>
					</div>

					<div class="columns">
							<div class="column is-third">
								<p><code>aliases</code>: a comma-separated list of absolute URIs for this post which will redirect to this post</p>
							</div>
						<div class="column">
							<p class="control has-icon">
								<input class="input" type="text" name="aliases" value="{{- $Post.WebAliases | html -}}" placeholder="/my-math-proof/, /riemann-proof/">
								<i class="fa icon icon-right"></i>
							</p>
						</div>
					</div>

					{{- range $name, $joined := $Post.TaxonomyMap -}}
					<div class="columns">
						<div class="column is-quarter">
							{{- $kind := index $.Site.Taxonomies $name -}}
							<p class="title" title="singular: {{ $kind.Singular }}">{{- $name | html -}}</p>
						</div>
						<div class="column">
							<p class="control has-icon">
								<input aws='{{- $name | html -}}' type="text" class="input"
									 name='{{- printf "taxonomy.%s" $name | html -}}'
									 value="{{- $joined | html -}}"
									 placeholder="{{ $kind.Singular }}1, {{ $kind.Singular }}2, {{ $kind.Singular }}3, ..."
									 data-list="{{- range $ind, $name := $kind.TermNames -}}
													{{- if $ind -}}, {{ end -}}
													{{- $name -}}
												{{- end -}}">
								<i class="fa icon icon-tag"></i>
								<script type="text/javascript">
									new Awesomplete("input[aws='{{ $name }}']", {
										filter: function(text, input) {
											return Awesomplete.FILTER_CONTAINS(text, input.match(/[^,]*$/)[0]);
										},

										replace: function(text) {
											var before = this.input.value.match(/^.+,\s*|/)[0];
											this.input.value = before + text + ", ";
										}
									});
								</script>
							</p>
						</div>
					</div>
					{{- else -}}
					<p>You have no taxonomies to add to this page. How about <a href="{{ $.Base }}/taxonomy">making some?</a></p>
					{{- end -}}

					{{- if gt (len $.Site.Taxonomies) 0 -}}
					<p class="is-text-right"><i><a href="{{ $.Base }}/taxonomy/">Taxonomies</a> are a list of words separated by commas. All spaces are removed.</i></p>
					{{- end -}}
				</div>

			</form>
		</div>

		{{template "footer"}}

		<link rel="stylesheet" href="{{ $.Base }}/static/editor/simplemde.min.css">
		<link rel="stylesheet" href="{{ $.Base }}/static/awesomplete.css">
		<script type="text/javascript">document.getElementById("collapse").style.display = "none";</script>
		<script src="{{ $.Base }}/static/editor/simplemde.min.js"></script>
		<script>
			var textarea = document.getElementById('articleSrc'),
				editor = new SimpleMDE({ element: textarea, spellChecker: false, autofocus: true});

			function updateText() {
				textarea.value = editor.value();
				console.log(textarea.value);
			}

			editor.codemirror.on('change', updateText);
			editor.codemirror.on('keyup', updateText);
		</script>
	</body>
</html>
{{end}}
