{{define "loginPage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "meta" }}
		<title>SHIM | Login</title>
		{{ template "stylesheets" $ }}
	</head>
	<body>
		{{ template "navbar" $ }}
		<div id="content" class="content">
			{{- template "messages" $ -}}
			<div class="columns">
				<div class="column is-half is-offset-quarter">
					<div class="container box">
					<h1>Authentication Required</h1>
					<form action="{{ $.Base | html }}/login/" method="post">
						{{- if gt (len $.Choices) 0 -}}
						<input type="hidden" name="redirect" value="{{ index $.Choices 0 | html }}">
						{{- end -}}
						<p class="control has-icon">
							<input class="input" type="text" name="username" autofocus="autofocus" placeholder="Username">
							<i class="fa icon icon-user"></i>
						</p>
						<p class="control has-icon">
							<input class="input" type="password" name="password" placeholder="Password">
							<i class="fa icon icon-lock"></i>
						</p>
						<p><input class="button is-primary" type="submit" value="Login"></p>
					</form>
					</div>
				</div>
			</div>
		</div>
		{{template "footer"}}
	</body>
</html>
{{end}}
