{{define "adminPage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SHIM | Admin</title>
		{{template "stylesheets"}}
	</head>
	<body>
		{{template "navbar"}}

		<div id="content" class="content">
			<h1 class="title">Manage your site</h1>
			{{- if .Success -}}
			<div class="notification is-success">
				<p>{{ .Message }}</p>
			</div>
			{{- else if .Failed -}}
			<div class="notification is-danger">
				<p>{{ .Message }}</p>
			</div>
			{{- end -}}

			<div class="box">
				<form action="/admin/" method="post">
					<p>Quick Options</p>
					<button class="button is-success is-outlined" type="submit" value="1" name="doBuild">Build and Deploy</button>
					<button class="button is-info is-outlined" type="submit" value="1" name="doReload">Reload Site</button>
					<a href="/preview/"><button type="button" class="button is-primary">Preview Site</button></a>
				</form>
			</div>
			<hr>
			<h1 class="title">Taxonomies <span class="subtitle"><a href="/taxonomy/">edit</a></span></h1> &nbsp;
			<!-- TODO: Implement page counts for taxonomies -->
			<table class="table is-striped">
				<thead>
					<tr>
						<th>Taxonomy</th>
						<th>Number of Terms</th>
						<!-- <th>Pages</th> -->
					</tr>
				</thead>
				<tbody>
			{{- range $name, $kind := .Site.Taxonomies -}}
			<div>
				<tr>
					<td>{{ $name | html -}} &nbsp; (also: <i>{{- $kind.Singular | html -}}</i>)</td>
					<td>{{ $kind.NumTerms | html }}</td>
					<!-- <td>TBD</td> -->
			</div>
			{{- end -}}
			</table>
		</div>

		{{template "footer"}}
	</body>
</html>
{{end}}
