{{define "deletePage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "meta" }}
		<title>SHIM | Delete Post</title>
		{{ template "stylesheets" $ }}
	</head>
	<body>
		{{ template "navbar" $ }}
		<div id="content" class="content">
			<h1>Delete Post: <i>"{{- .Post.Title -}}"</i></h1>
			{{- template "messages" $ -}}
			<div>
				<p>Post path: <code>{{ .Post.RelPath }}</code></p>
				<p>Author: <code>{{ .Post.Author }}</code></p>
			</div>
			<hr>
			<div class="message is-danger">
				<div class="message-header"> 
					WARNING!
				</div>
				<div class="message-body">
					Do you <i>really</i> want to delete this post? This action is <b>irreversible</b>!
				</div>
			</div>
			<div class="columns control">
				<div class="column is-half">
					<a href="{{ .Base }}/posts/" class="is-primary">
						<button class="button is-primary">
							<i class="fa icon icon-left is-small"></i>
							No! I didn't mean it!
						</button>
					</a>
				</div>
				<div class="column is-half is-text-right">
					<a href="{{ .Base }}{{- .URL -}}?confirm=yes" class="is-danger">
						<button class="button is-danger">
							<i class="fa icon icon-trash is-small"></i>
							Yes! Get rid of it!
						</button>
					</a>
				</div>
			</div>
		</div>

		{{template "footer"}}
	</body>
</html>
{{end}}
