{{define "siteConfig"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "meta" }}
		<title>SHIM | Site Configuration</title>
		{{ template "stylesheets" $ }}
	</head>
	<body>
		{{ template "navbar" $ }}

		<div id="content" class="content">
			<h1>Basic Site Configuration</h1>
			{{- template "messages" $ -}}
			<p>Click <a href="{{ $.Base }}/config/advanced/">here</a> for advanced settings.</p>

			<form action="{{ $.Base }}/config/" method="post">
				<div class="columns">
					<div class="column is-third">
						<p><code><b>title</b></code>: the site title</p>
					</div>
					<div class="column">
						<input class="input" type="text" name="title" value="{{ $.Site.Title| html }}" placeholder="My Shim Blog">
					</div>
				</div>

				<div class="columns">
					<div class="column is-third">
						<p><code><b>baseurl</b></code>: the base URL for the site</p>
					</div>
					<div class="column">
						<input class="input" type="text" name="baseurl" value="{{ $.Site.BaseURL | html }}" placeholder="http://example.com/">
					</div>
				</div>

				<div class="columns">
					<div class="column is-third">
						<p><code><b>canonifyurls</b></code>: are urls canonical?</p>
					</div>
					<div class="column">
						<p class="control">
							<label class="checkbox">
							{{- if $.Site.Canonify -}}
							<input type="checkbox" name="canonifyurls" checked />
							{{- else -}}
							<input type="checkbox" name="canonifyurls" />
							{{- end -}}
							If checked, URLs will be canonical
							</label>
						</p>

					</div>
				</div>

				<div class="columns">
					<div class="column is-third">
						<p><code><b>theme</b></code>: which Hugo theme to use for the site</p>
					</div>
					<div class="column">
						<span class="select">
							<select name="theme">
								{{- range $themeName := $.Choices -}}
									{{- if eq $themeName $.Site.Theme -}}
										<option value="{{- $themeName | html -}}" selected>{{- $themeName | html -}}</option>
									{{- else -}}
										<option value="{{- $themeName | html -}}">{{- $themeName | html -}}</option>
									{{- end -}}
								{{- end -}}
							</select>
						</span>
					</div>
				</div>

				<div class="columns">
					<div class="column is-third">
						<p><code><b>author</b></code>: the default author for new posts</p>
					</div>
					<div class="column">
						<input class="input" type="text" name="params.author" value="{{ $.Site.Author | html }}" placeholder="Bernhard Riemann">
					</div>
				</div>

				<div class="columns">
					<div class="column is-third">
						<p><code><b>subtitle</b></code>: the subtitle for the site &mdash; this being displayed depends on the theme</p>
					</div>
					<div class="column">
						<input class="input" type="text" name="params.subtitle" value="{{ $.Site.Subtitle | html }}" placeholder="The coolest blog ever">
					</div>
				</div>

				<button type="submit" class="button has-icon is-primary">
					<i class="fa icon icon-ok is-small"></i>
					Save
				</button>
				</div>
			</form>
		</div>

		{{template "footer"}}
	</body>
</html>
{{end}}
