{{define "newPostPage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SHIM | New Post</title>
		{{ template "stylesheets" $ }}
	</head>
	<body>
		{{ template "navbar" $ }}

		<div id="content" class="content">
			<h1>Create New Post</h1>
			{{- template "messages" $ -}}
			<p>Please fill out the form below:</p>
			<form action="{{ $.Base }}/new/" method="post">
				<p class="control">
					New Post Slug:
					<input class="input" type="text" name="title" placeholder="my-post">
				</p>
				<input class="button is-primary" type="submit" value="Create">
			</form>
		</div>

		{{template "footer"}}
	</body>
</html>
{{end}}
