{{define "editPage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SHIM | Editor</title>
		{{ template "stylesheets" $ }}
	</head>
	<body>
		{{ template "navbar" $ }}

		<div id="content" class="content">
			<h1>Edit Post</h1>
			{{- template "messages" $ -}}
			{{- $Post := .Post -}}
			<form action="{{- .URL -}}" method="post" class="container is-fluid">
				<noscript>
					<div>
						<style type="text/css">
						/* Workaround for whenever the client doesn't have JS enabled */
						#collapse {
							display: inline !important;
						}
						#toggleButtonDiv {
							display: none !important;
						}
						</style>
					</div>
				</noscript>
				<script type="text/javascript">
				function toggleCollapse() {
					var coll = document.getElementById("collapse");
					if (coll === null) { return; }
					dis = coll.style.display;
					if (dis === "inline") {
						coll.style.display = "none";
						console.log("now hidden")
					} else {
						coll.style.display = "inline";
						console.log("now visible")
					}
				}
				</script>
				<div id="toggleButtonDiv">
					<p><a href="#" onclick="toggleCollapse()"><span class="toggle" onclick="">+</span>Click to show post properties.</a></p>
					<br />
				</div>
				<div id="collapse">
					<div class="columns">
							<div class="column is-third">
								<p><code>author</code>: the author for this post</p>
							</div>
						<div class="column">
							<input class="input" type="text" name="author" value="{{- $Post.Author -}}">
						</div>
					</div>

					<div class="columns">
							<div class="column is-third">
								<p><code>description</code>: a short summary of the post &mdash; if none is provided, it will automatically be generated</p>
							</div>
						<div class="column">
							<input class="input" type="text" name="description" value="{{- $Post.ActualDescription -}}">
						</div>
					</div>

					<div class="columns">
							<div class="column is-third">
								<p><code>slug</code>: the token to appear in the tail of the url &mdash; if none is provided, the filename will be used</p>
							</div>
						<div class="column">
							<input class="input" type="text" name="slug" value="{{- $Post.Slug -}}">
						</div>
					</div>

					<div class="columns">
							<div class="column is-third">
								<p><code>published</code>: when this post was published</p>
							</div>
						<div class="column">
							<input class="input" type="text" name="published" value="{{- $Post.WebDate | html -}}" placeholder="25 Dec 2000 @ 23:59">
						</div>
					</div>

					<div class="columns">
							<div class="column is-third">
								<p><code>aliases</code>: a comma-separated list of absolute URIs for this post which will redirect to this post</p>
							</div>
						<div class="column">
							<input class="input" type="text" name="aliases" value="{{- $Post.WebAliases | html -}}" placeholder="/my-cool-post/, /2010/04/28/my-cool-post/">
						</div>
					</div>

					{{- range $name, $joined := $Post.TaxonomyMap -}}
					<div class="columns">
						<div class="column is-quarter">
							<p class="title">{{- $name | html -}}</p>
						</div>
						<div class="column">
							<input class="input" type="text" name='{{- printf "taxonomy.%s" $name | html -}}' value="{{- $joined | html -}}">
						</div>
					</div>
					{{- end -}}
					<p class="is-text-right"><i>Taxonomies are a list of words separated by commas. All spaces are removed.</i></p>
					<hr>
				</div>
				<script type="text/javascript">document.getElementById("collapse").style.display = "none";</script>
				<input class="input" type="text" name="title" value="{{- $Post.Title | html -}}" placeholder="Your Post's Title">
				<textarea class="textarea monospace" name="articleSrc" style="min-height:320px" placeholder="Write some stuff here...">{{- printf "%s" $Post.GetBody | html -}}</textarea>
				{{ if $Post.Draft }}
				<label class="checkbox"><input type="checkbox" name="doPublish"> Publish Post?</label>
				{{ else }}
				<label class="checkbox"><input type="checkbox" name="doPublish" checked> Republish Post?</label>
				{{ end }}
				<div class="columns is-mobile">
					<div class="column is-half">
						<a class="button is-info is-outlined" href="{{ $.Base }}/preview/{{- $Post.PreviewPath -}}">Preview</a>
					</div>
					<div class="column is-right is-text-right">
						<input class="button is-primary" type="submit" value="Save">
					</div>
				</div>
			</form>
		</div>

		{{template "footer"}}
	</body>
</html>
{{end}}
