{{define "siteConfig"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SHIM | Site Configuration</title>
		{{ template "stylesheets" $ }}
	</head>
	<body>
		{{ template "navbar" $ }}

		<div id="content" class="content">
			<h1>Basic Site Configuration</h1>
			{{- template "messages" $ -}}
			<p>Click <a href="{{ $.Base }}/config/advanced/">here</a> for advanced settings.</p>

			<form action="{{ $.Base }}/config/" method="post">
				<div class="columns">
					<div class="column is-third">
						<p><code><b>title</b></code>: the site title</p>
					</div>
					<div class="column">
						<input class="input" type="text" name="title" value="{{ $.Site.Title| html }}">
					</div>
				</div>

				<div class="columns">
					<div class="column is-third">
						<p><code><b>baseurl</b></code>: the base URL for the site</p>
					</div>
					<div class="column">
						<input class="input" type="text" name="baseurl" value="{{ $.Site.BaseURL | html }}">
					</div>
				</div>

				<div class="columns">
					<div class="column is-third">
						<p><code><b>contentdir</b></code>: the site s content direcctory</p>
					</div>
					<div class="column">
						<input class="input" type="text" name="contentDir" value="{{ $.Site.ContentDir | html }}">
					</div>
				</div>

				<div class="columns">
					<div class="column is-third">
						<p><code><b>layoutdir</b></code>: the site s layouts directory</p>
					</div>
					<div class="column">
						<input class="input" type="text" name="layoutDir" value="{{ $.Site.LayoutDir | html }}">
					</div>
				</div>

				<div class="columns">
					<div class="column is-third">
						<p><code><b>publishdir</b></code>: what folder to publish the site to</p>
					</div>
					<div class="column">
						<input class="input" type="text" name="publishDir" value="{{ $.Site.PublishDir | html }}">
					</div>
				</div>

				<div class="columns">
					<div class="column is-third">
						<p><code><b>canonifyurls</b></code>: are urls canonical?</p>
					</div>
					<div class="column">
						{{- if $.Site.Canonify -}}
						<input class="input" type="checkbox" name="canonifyurls" checked />
						{{- else -}}
						<input class="input" type="checkbox" name="canonifyurls" />
						{{- end -}}
					</div>
				</div>

				<div class="columns">
					<div class="column is-third">
						<p><code><b>theme</b></code>: which Hugo theme to use for the site</p>
					</div>
					<div class="column">
						<span class="select">
							<select name="theme">
								{{- range $themeName := $.Choices -}}
									{{- if eq $themeName $.Site.Theme -}}
										<option value="{{- $themeName | html -}}" selected>{{- $themeName | html -}}</option>
									{{- else -}}
										<option value="{{- $themeName | html -}}">{{- $themeName | html -}}</option>
									{{- end -}}
								{{- end -}}
							</select>
						</span>
					</div>
				</div>

				<div class="columns">
					<div class="column is-third">
						<p><code><b>author</b></code>: the default author for new posts</p>
					</div>
					<div class="column">
						<input class="input" type="text" name="params.author" value="{{ $.Site.Author | html }}">
					</div>
				</div>

				<div class="columns">
					<div class="column is-third">
						<p><code><b>subtitle</b></code>: the subtitle for the site</p>
					</div>
					<div class="column">
						<input class="input" type="text" name="params.subtitle" value="{{ $.Site.Subtitle | html }}">
					</div>
				</div>

				<input class="button is-primary is-text-right" type="submit" value="Save">

				</div>
			</form>
		</div>

		{{template "footer"}}
	</body>
</html>
{{end}}
