{{define "taxonomyPage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SHIM | Taxonomies</title>
		{{ template "stylesheets" $ }}
	</head>
	<body>
		{{ template "navbar" $ }}

		<div id="content" class="content">
			<h1>Manage Taxonomies</h1>
			{{- template "messages" $ -}}
			<p>Taxonomies are how Hugo can put things in similar groups (such as categories or tags).</p>
			<hr>
			<p>Use the form below to create or remove taxonomy types.</p>
			{{- $site := .Site -}}

			{{- $tax := .Site.Taxonomies -}}
			{{- range $kinds := $tax.GetKinds -}}
				<form action="{{ $.Base }}/taxonomy/" method="post">
					<input class="input" name="kindName" type="hidden" value="{{ $kinds.Plural | html }}" />
					<input name="deleteKind" type="hidden" value="true"/>
					<div class="box">
						<div class="columns">
							<div class="column is-quarter">
								<p><span class="title" title="singular: {{ $kinds.Singular }}">{{- $kinds.Plural | html -}}</span> ({{ $kinds.NumTerms }} pages)</p>
							</div>
							<div class="column">
								<p>
								{{- range $name := $kinds.TermNames -}}
									<span class="tag is-info is-outlined">{{ $name | html }} </span>
								{{- else -}}
									It looks like you have no pages using this taxonomy.
								{{- end -}}
								</p>
							</div>
							<div class="column is-2 is-text-right">
								<input class="button is-danger" type="submit" value="Delete">
							</div>
						</div>
					</div>
				</form>
			{{- end -}}
			<hr>
			<form action="{{ $.Base }}/taxonomy/" method="post">
				<div class="box">
					<input name="newKind" type="hidden" value="true"/>
					<div class="columns">
						<div class="column is-quarter">
							<p class="title">New Taxonomy</p>
						</div>
						<div class="column control">
							<label>Singular: </label>
							<input class="input" name="kindNameSingular" type="text" placeholder="blog" />
						</div>
						<div class="column control">
							<label>Plural: </label>
							<input class="input" name="kindNamePlural" type="text" placeholder="blogs" />
						</div>
						<div class="column is-2 is-text-right">
							<input class="button is-primary" type="submit" value="Save">
						</div>
					</div>
					<p class="content">
						To create a new taxonomy, write the singular and plural version of the name in the appropriate fields.
						For example, you could use <code>dog</code> and <code>dogs</code>.
					</p>
				</div>
				<br />
			</form>
		</div>

		{{template "footer"}}
	</body>
</html>
{{end}}
