{{define "postsPage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "meta" }}
		<title>SHIM | View Posts</title>
		{{ template "stylesheets" $ }}
	</head>
	<body>
		{{ template "navbar" $ }}

		<div id="content" class="content">
			<h1>Posts ({{ len $.Site.Posts }} total)</h1>
			{{- range $post := .Site.Posts -}}
			<div class="box">
				<div class="is-clearfix">
					<h3 class="is-pulled-left">{{- $post.Title -}}</h3>
					<p class="is-pulled-right is-unselectable">
						<a href="{{ $.Base }}/preview/{{- $post.PreviewPath -}}">
							{{- if $post.Draft -}}
							<span class="tag is-warning is-medium"><i class="icon is-small icon-clipboard"></i> Draft</span>
							{{- else -}}
							<span class="tag is-success is-medium"><i class="icon is-small icon-ok"></i> Published</span>
							{{- end -}}
						</a>
						<a class="tag is-primary is-medium" href="{{ $.Base }}/edit/{{ $post.PostID }}">
							<i class="icon is-small icon-edit is-small"></i>Edit</a>
						<a class="tag is-danger is-medium" href="{{ $.Base }}/delete/{{ $post.PostID }}">
							<i class="icon is-small icon-trash is-small"></i>Delete</a>
					</p>
				</div >
				<p class="subtitle">
					<i class="icon icon-user is-small"></i>{{ $post.Author | html }}
					&mdash;
					<i class="icon icon-calendar is-small"></i> {{ $post.WebDate | html -}}
				</p>
				<blockquote class="monospace description"><div>{{ $post.Description }}</div></blockquote>
			</div>
			{{- else -}}
			<hr>
			<p>It looks like you do not have any posts! Would you like to <a href="{{ $.Base }}/new/">write some</a>?</p>
			{{- end -}}
		</div>

		{{template "footer"}}
	</body>
</html>
{{end}}
