{{define "loginPage"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SHIM | Login</title>
		{{ template "stylesheets" $ }}
	</head>
	<body>
		{{ template "navbar" $ }}
		<div id="content" class="content">
			<h1>Authentication required</h1>
			{{- template "messages" $ -}}
			<div class="container">
				<form action="{{ $.Base | html }}/login/" method="post">
					<div class="columns">
						<div class="column is-2">Username: </div>
						<div class="column"><input type="text" name="username" autofocus="autofocus"></div>
					</div>
					<div class="columns">
						<div class="column is-2">Password: </div>
						<div class="column"><input type="password" name="password"></div>
					</div>
					<p><input type="submit" value="Login"></p>
				</form>
			</div>
		</div>
		{{template "footer"}}
	</body>
</html>
{{end}}
