{{define "siteConfig"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{- if .Success -}}
            <meta http-equiv="refresh" content="0">
        {{- end -}}
        <meta charset="utf-8">
        <title>SHIM | Site Configuration</title>
        {{template "stylesheets"}}
    </head>
    <body>
        <div>
            <h1>Basic Site Configuration</h1>
            <p>NOTE: THIS CONFIGURATION IS NOT YET SUPPORTED OFFICIALLY. USE THE ADVANCED CONFIGURATION OR EDIT <code>CONFIG.TOML</code> DIRECTLY.</p>
            <p>Click <a href="/config/advanced/">here</a> for advanced settings.</p>
            <form action="/config/" method="post">
                {{- range $opt := .Config -}}
                <div class="configOption">
                    <p>Name: {{ $opt.Name | html -}}</p>
                    <p>Description: {{ $opt.Description | html -}}
                    {{- if $opt.IsParam }} (Site-Wide){{- end -}}
                    {{- if eq $opt.Type "string" -}}
                        <p><input type="text" name="{{ $opt.Name | html }}" value="{{ $opt.Value | html }}" /></p>
                    {{- else if eq $opt.Type "bool" -}}
                        {{- if $opt.Value -}}
                            <p>Enable? <input type="checkbox" name="{{ $opt.Name | html }}" checked /></p>
                        {{- else -}}
                            <p>Enable? <input type="checkbox" name="{{ $opt.Name | html }}" /></p>
                        {{- end -}}
                    {{- else if eq $opt.Type "int" }}
                        <p><input type="number" name="{{ $opt.Name | html }}" value="{{ $opt.Value | html }}" /></p>
                    {{- else if eq $opt.Type "float" }}
                        <p><input type="number" name="{{ $opt.Name | html }}" value="{{ $opt.Value | html }}" /></p>
                    {{- else if eq $opt.Type "choice" -}}
                        <p><select name="{{- $opt.Name | html -}}">
                            {{- range $themeName := $.Choices -}}
                                <option value=" {{- $themeName | html -}} "> {{- $themeName | html -}} </option>
                            {{- end -}}
                        </select></p>
                    {{- else -}}
                        <p>WTF IS THIS?</p>
                        <pre>{{ $opt | html }}</pre>
                    {{- end -}}
                </div>
                {{- end -}}
                <div><input type="submit" value="Save" /></div>
            </form>
        </div>
        {{template "footer"}}
    </body>
</html>
{{end}}
