{{define "siteConfig"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SHIM | Site Configuration</title>
        {{template "stylesheets"}}
    </head>
    <body>
        <div>
            <h1>Site Configuration</h1>
            {{- range $opt := .Config -}}
            <div class="configOption">
                <p>Name: {{ $opt.Name | html -}}</p>
                <p>Description {{ $opt.Description | html -}}</p>
                {{- if eq $opt.Type "string" -}}
                <p><input type="text" name="{{ $opt.Name | html }}" value="{{ $opt.Value | html }}" /></p>
                {{- else if eq $opt.Type "bool" -}}
                    {{- if $opt.Value -}}
                    <p>Enable? <input type="checkbox" name="{{ $opt.Name | html }}" checked /></p>
                    {{- else -}}
                    <p>Enable? <input type="checkbox" name="{{ $opt.Name | html }}" /></p>
                    {{- end -}}
                {{ else if eq $opt.Type "int" }}
                <p><input type="number" name="{{ $opt.Name | html }}" value="{{ $opt.Value | html }}" /></p>
                {{ else if eq $opt.Type "float" }}
                <p><input type="number" name="{{ $opt.Name | html }}" value="{{ $opt.Value | html }}" /></p>
                {{- else -}}
                <p>WTF IS THIS?</p>
                <pre>{{ $opt | html }}</pre>
                {{- end -}}
            </div>
            {{- end -}}
        </div>
        {{template "footer"}}
    </body>
</html>
{{end}}
