{{define "stylesheets"}}
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.15/css/bulma.min.css">-->
<link rel="stylesheet" href="/static/css/bulma-0.0.15.min.css">
<link rel="stylesheet" href="/static/css/layout.css">
{{end}}
