{{define "stylesheets"}}
<link rel="stylesheet" href="{{ $.Base }}/static/css/bulma-0.0.15.min.css">
<link rel="stylesheet" href="{{ $.Base }}/static/css/layout.css">
<link rel="stylesheet" href="{{ $.Base }}/static/css/global.css">
<link rel="stylesheet" href="{{ $.Base }}/static/fontello/css/elusive_shim.css">
{{end}}
